@charset "UTF-8";
/*@namespace html url(http://www.w3.org/1999/xhtml);*/
/*@namespace o url(http://oup.dataformat.com/doc/OUP_DTD_Dictionary.html);*/
@namespace d url(http://www.apple.com/DTDs/DictionaryService-1.0.rng);

/*==== HTML ====*/

body {
    font-size: 12pt;
    font: -apple-system-body;
    font-family: -apple-system;
    margin-left: 0.9em;
    margin-right: 0.9em;
    margin-top: 1.0em;
    margin-bottom: 1.5em;

    color: text;
}

html.apple_client-panel body {
    margin-top: 0em;
}

@media (prefers-dark-interface)
{
    img {
        filter: invert(100%);
    }
}

a {
    color: -webkit-link;
    text-decoration: none;
}

a:hover {
    color: -webkit-link;
    text-decoration: underline;
}

html.apple_client-panel a,
html.apple_client-panel a:hover {
    color: text;
    text-decoration: none;
}

*.entry {
    display: block;
    font-size: 84%;
    margin-bottom: 4em;
    line-height: 130%;
}

h1 {
    font-size: 170%;
    font-weight: normal;

}

h2 {
    font-size: 130%;
    font-weight: normal;
}

ol, ul {
    padding: 0;
    margin: 0;
}

.senses {
    list-style: none;
    counter-reset: senses;
}

.senses li.sense:before {
    content: '[' counter(senses, decimal) '] ';
    counter-increment: senses;
}

.sense {
    margin-top: 6px;
}

.glosses {
    list-style: none;
    margin-left: 20px;
}

.glosses li {
    display: inline;
}

.glosses li:before {
    /*
    font-size: 80%;
    */

    color: #2f4f4f;
    color: -apple-system-label;
}

.glosses li + li:before {
    content: '; ';
}

.pos, .field, .misc, .dial, .gloss_type {
    list-style: none;
    font-size: 80%;
    border-radius: 4px;
    padding: 3px;
    margin-right: 4px;
}

.stagk, .stagr, .lsource, .s_inf, .xref, .ant {
    list-style: none;
    font-size: 80%;
    margin-right: 4px;
}

.poses, .fields, .miscs, .dials, .stagks, .stagrs, .re_restrs {
    display: inline-block;
    list-style: none;
    margin-top: 2px;
    margin-bottom: 2px;
}

.xrefs + .miscs, .xrefs + .fields, .xrefs + .dials {
    margin-left: 20px;
}

.s_infs, .xrefs, .ants, .lsource {
    margin-left: 20px;
    list-style: none;
    margin-top: 2px;
    margin-bottom: 2px;
}

.re_restrs {
    color: #515151;
    color: -apple-system-label;
    font-size: 70%;
}

.re_restrs:before {
    color: #515151;
    color: -apple-system-label;

    content: '(';
}

.re_restrs:after {
    color: #515151;
    color: -apple-system-label;

    content: ')';
}

.re_restr {
    list-style: none;
    display: inline;
}

.re_restr + .re_restr:before {
    content: '; ';
}

.pos {
    display: inline;
    color: white;
    background-color: chocolate;
    background-color: -apple-system-orange;
    border-color: chocolate;
    border-color: -apple-system-orange;
}

.misc {
    display: inline;
    color: white;
    background-color: #d2b533;
/*    background-color: -apple-system-yellow; */
    border-color: #d2b533;
/*    border-color: -apple-system-yellow; */
}

.dial {
    display: inline;
    color: white;
    background-color: #570057;
    background-color: -apple-system-purple;
    border-color: #570057;
    border-color: -apple-system-purple;
}

.field {
    display: inline;
    color: white;
    background-color: #151d57;
    background-color: -apple-system-blue;
    border-color: #151d57;
    border-color: -apple-system-blue;
}

.gloss_type {
    display: inline;
    color: white;
    background-color: #4b4b4b;
    border-color: #4b4b4b;
}

.s_inf {
    color: #515151;
    color: -apple-system-label;
}

@media (prefers-dark-interface) {
    .pos, .misc, .field, .dial, .gloss_type {
        -apple-color-filter: apple-invert-lightness();
    }
}

.xrefs:before {
    content: '⇒ ';
}

.xref {
    color: -webkit-link;
    display: inline;
}

.ants:before {
    content: '⇔ ';
}

.ant {
    color: -webkit-link;
    display: inline;
}

.lang:before {
    content: '> ';
    color: -apple-system-label;
}

.lsource {
    font-style: italic;
}

.lang {
    color: #003300;
    color: -apple-system-green;
    font-variant: small-caps;
    margin-right: 5px;
}

.lsource .lang {
    font-style: normal;
}

.lsource .wasei:before {
    content: '和製';
    font-style: normal;
    border-radius: 4px;
    padding: 3px;
}

.ent_seq {
  font-size: 60%;
}
